<!--

&lt;!&ndash;products&ndash;&gt;
<div class="container">
  <div class="row">

    <div class="col col-xl-3 col-lg-6 col-md-6 col-sm-6 col-12">
      <div class="ui-block" data-mh="friend-groups-item">

        &lt;!&ndash; Friend Item &ndash;&gt;
        <div class="single-product">
          <div class="product-f-image">
            <img src="assets/store/img/product-2.jpg" alt="">
            <div class="product-hover">
              <a href="#" class="add-to-cart-link"><i class="fa fa-shopping-cart"></i> Add to cart</a>
              <a routerLink="/detail" class="view-details-link"><i class="fa fa-link"></i> See details</a>
            </div>
          </div>
          <h2>Nokia Lumia 1320</h2>
          <div class="product-carousel-price">
            <ins>$899.00</ins> <del>$999.00</del>
          </div>
          <div>
            rating
          </div>
        </div>


        &lt;!&ndash; ... end Friend Item &ndash;&gt;			</div>
    </div>

    <div class="col col-xl-3 col-lg-6 col-md-6 col-sm-6 col-12">
      <div class="ui-block" data-mh="friend-groups-item">

        &lt;!&ndash; Friend Item &ndash;&gt;
        <div class="single-product">
          <div class="product-f-image">
            <img src="assets/store/img/product-2.jpg" alt="">
            <div class="product-hover">
              <a href="#" class="add-to-cart-link"><i class="fa fa-shopping-cart"></i> Add to cart</a>
              <a routerLink="/detail" class="view-details-link"><i class="fa fa-link"></i> See details</a>
            </div>
          </div>
          <h2>Nokia Lumia 1320</h2>
          <div class="product-carousel-price">
            <ins>$899.00</ins> <del>$999.00</del>
          </div>
        </div>


        &lt;!&ndash; ... end Friend Item &ndash;&gt;			</div>
    </div>

    <div class="col col-xl-3 col-lg-6 col-md-6 col-sm-6 col-12">
      <div class="ui-block" data-mh="friend-groups-item">

        &lt;!&ndash; Friend Item &ndash;&gt;
        <div class="single-product">
          <div class="product-f-image">
            <img src="assets/store/img/product-2.jpg" alt="">
            <div class="product-hover">
              <a href="#" class="add-to-cart-link"><i class="fa fa-shopping-cart"></i> Add to cart</a>
              <a routerLink="/detail" class="view-details-link"><i class="fa fa-link"></i> See details</a>
            </div>
          </div>
          <h2>Nokia Lumia 1320</h2>
          <div class="product-carousel-price">
            <ins>$899.00</ins> <del>$999.00</del>
          </div>
        </div>


        &lt;!&ndash; ... end Friend Item &ndash;&gt;			</div>
    </div>


    <div class="col col-xl-3 col-lg-6 col-md-6 col-sm-6 col-12">
      <div class="ui-block" data-mh="friend-groups-item">

        &lt;!&ndash; Friend Item &ndash;&gt;
        <div class="single-product">
          <div class="product-f-image">
            <img src="assets/store/img/product-2.jpg" alt="">
            <div class="product-hover">
              <a href="#" class="add-to-cart-link"><i class="fa fa-shopping-cart"></i> Add to cart</a>
              <a routerLink="/detail" class="view-details-link"><i class="fa fa-link"></i> See details</a>
            </div>
          </div>
          <h2>Nokia Lumia 1320</h2>
          <div class="product-carousel-price">
            <ins>$899.00</ins> <del>$999.00</del>
          </div>
        </div>


        &lt;!&ndash; ... end Friend Item &ndash;&gt;			</div>
    </div>



    <div class="col col-xl-3 col-lg-6 col-md-6 col-sm-6 col-12">
      <div class="ui-block" data-mh="friend-groups-item">

        &lt;!&ndash; Friend Item &ndash;&gt;
        <div class="single-product">
          <div class="product-f-image">
            <img src="assets/store/img/product-2.jpg" alt="">
            <div class="product-hover">
              <a href="#" class="add-to-cart-link"><i class="fa fa-shopping-cart"></i> Add to cart</a>
              <a routerLink="/detail" class="view-details-link"><i class="fa fa-link"></i> See details</a>
            </div>
          </div>
          <h2>Nokia Lumia 1320</h2>
          <div class="product-carousel-price">
            <ins>$899.00</ins> <del>$999.00</del>
          </div>
        </div>


        &lt;!&ndash; ... end Friend Item &ndash;&gt;			</div>
    </div>





<div class="col col-xl-3 col-lg-6 col-md-6 col-sm-6 col-12">
  <div class="ui-block" data-mh="friend-groups-item">

    &lt;!&ndash; Friend Item &ndash;&gt;

    <div class="single-product">
      <div class="product-f-image">
        <img src="assets/store/img/product-1.jpg" alt="">
        <div class="product-hover">
          <a href="#" class="add-to-cart-link"><i class="fa fa-shopping-cart"></i> Add to cart</a>
          <a href="single-product.html" class="view-details-link"><i class="fa fa-link"></i> See details</a>
        </div>
      </div>

      <h2><a href="single-product.html">Samsung Galaxy s5- 2015</a></h2>

      <div class="product-carousel-price">
        <ins>$700.00</ins> <del>$100.00</del>
      </div>
    </div>

    &lt;!&ndash; ... end Friend Item &ndash;&gt;			</div>
</div>

  </div>
</div>




-->


<div class="single-product-area">
  <div class="zigzag-bottom"></div>
  <div class="container">
    <div class="row">
      <div class="col-md-4">


        <div class="single-sidebar" >
          <h6>Catégories :</h6>
        </div>

        <div class="single-sidebar" >
          <div class="form-check" *ngFor="let x of cat" >
            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
            <h6  >{{x.name}}</h6>
          </div>
        </div>
      </div>

      <div class="col-md-8">

        <div class="container">
          <div class="row">

            <div class="col col-xl-4 col-lg-6 col-md-6 col-sm-6 col-8">
              <div class="ui-block" data-mh="friend-groups-item">
                <div class="single-product">
                  <div class="product-f-image">
                    <img src="assets/store/img/product-3.jpg" alt="">
                    <div class="product-hover">
                      <a href="#" class="add-to-cart-link"><i class="fa fa-shopping-cart"></i> Add to cart</a>
                      <a routerLink="/store/detail" class="view-details-link"><i class="fa fa-link"></i> See details</a>
                    </div>
                  </div>
                  <h2>Nokia Lumia 1320</h2>
                  <div class="product-carousel-price">
                    <ins>$899.00</ins> <del>$999.00</del>
                  </div>
                  <div>
                    rating
                  </div>
                </div>


              </div>
            </div>

            <div class="col col-xl-4 col-lg-6 col-md-6 col-sm-6 col-12">
              <div class="ui-block" data-mh="friend-groups-item">
                <div class="single-product">
                  <div class="product-f-image">
                    <img src="assets/store/img/product-2.jpg" alt="">
                    <div class="product-hover">
                      <a href="#" class="add-to-cart-link"><i class="fa fa-shopping-cart"></i> Add to cart</a>
                      <a routerLink="/detail" class="view-details-link"><i class="fa fa-link"></i> See details</a>
                    </div>
                  </div>
                  <h2>Nokia Lumia 1320</h2>
                  <div class="product-carousel-price">
                    <ins>$899.00</ins> <del>$999.00</del>
                  </div>
                </div>


              </div>
            </div>

            <div class="col col-xl-4 col-lg-3 col-md-3 col-sm-3 col-6">
              <div class="ui-block" data-mh="friend-groups-item">
                <div class="single-product">
                  <div class="product-f-image">
                    <img src="assets/store/img/product-2.jpg" alt="">
                    <div class="product-hover">
                      <a href="#" class="add-to-cart-link"><i class="fa fa-shopping-cart"></i> Add to cart</a>
                      <a routerLink="/detail" class="view-details-link"><i class="fa fa-link"></i> See details</a>
                    </div>
                  </div>
                  <h2>Nokia Lumia 1320</h2>
                  <div class="product-carousel-price">
                    <ins>$899.00</ins> <del>$999.00</del>
                  </div>
                </div>


              </div>
            </div>


            <div class="col col-xl-4 col-lg-6 col-md-6 col-sm-6 col-12">
              <div class="ui-block" data-mh="friend-groups-item">
                <div class="single-product">
                  <div class="product-f-image">
                    <img src="assets/store/img/product-2.jpg" alt="">
                    <div class="product-hover">
                      <a href="#" class="add-to-cart-link"><i class="fa fa-shopping-cart"></i> Add to cart</a>
                      <a routerLink="/detail" class="view-details-link"><i class="fa fa-link"></i> See details</a>
                    </div>
                  </div>
                  <h2>Nokia Lumia 1320</h2>
                  <div class="product-carousel-price">
                    <ins>$899.00</ins> <del>$999.00</del>
                  </div>
                </div>


              </div>
            </div>



            <div class="col col-xl-4 col-lg-6 col-md-6 col-sm-6 col-12">
              <div class="ui-block" data-mh="friend-groups-item">
                <div class="single-product">
                  <div class="product-f-image">
                    <img src="assets/store/img/product-2.jpg" alt="">
                    <div class="product-hover">
                      <a href="#" class="add-to-cart-link"><i class="fa fa-shopping-cart"></i> Add to cart</a>
                      <a routerLink="/detail" class="view-details-link"><i class="fa fa-link"></i> See details</a>
                    </div>
                  </div>
                  <h2>Nokia Lumia 1320</h2>
                  <div class="product-carousel-price">
                    <ins>$899.00</ins> <del>$999.00</del>
                  </div>
                </div>


                			</div>
            </div>





            <div class="col col-xl-4 col-lg-6 col-md-6 col-sm-6 col-12">
              <div class="ui-block" data-mh="friend-groups-item">



                <div class="single-product">
                  <div class="product-f-image">
                    <img src="assets/store/img/product-1.jpg" alt="">
                    <div class="product-hover">
                      <a href="#" class="add-to-cart-link"><i class="fa fa-shopping-cart"></i> Add to cart</a>
                      <a href="single-product.html" class="view-details-link"><i class="fa fa-link"></i> See details</a>
                    </div>
                  </div>

                  <h2><a href="single-product.html">Samsung Galaxy s5- 2015</a></h2>

                  <div class="product-carousel-price">
                    <ins>$700.00</ins> <del>$100.00</del>
                  </div>
                </div>

                		</div>
            </div>

          </div>
        </div>


      </div>
    </div>
  </div>
</div>
