<!--
<div class="product-big-title-area">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="product-bit-title text-center">
          <h2>Votre Panier</h2>
        </div>
      </div>
    </div>
  </div>
</div> &lt;!&ndash; End Page title area &ndash;&gt;
-->
<br>
<h3 class="vp">Votre Panier</h3>
<div class="single-product-area">
  <div class="zigzag-bottom"></div>
  <div class="container">
    <div class="row">
      <div class="col-md-8">
        <div class="product-content-right">
          <div class="woocommerce">
            <form method="post" action="#">
              <hr>
              <table cellspacing="0" class="shop_table cart">
                <tbody>
                <tr>
                  <td class="imgcart">
                    <img src="assets/store/img/iphone12.png" style="width:150px;height:120px">
                  </td>

                  <td class="product-name">
                    <p>Nom du produit </p>
                    <p>En stock</p>
                    <div class="quantity buttons_added">
                      <input type="number" size="4" class="input-text qty text" title="Qty" value="1" min="0" step="1">
                    </div>
                    <p>Nom du produittttttttttttttttttttttttttttttt </p>

                  </td>
                </tr>
                <tr>
                  <td class="imgcart">
                    <img src="assets/store/img/product-6.jpg" style="width:150px;height:120px">
                  </td>

                  <td class="product-name">
                    <p>Nom du produit </p>
                    <p>En stock</p>
                    <div class="quantity buttons_added">
                      <input type="number" size="4" class="input-text qty text" title="Qty" value="1" min="0" step="1">
                    </div>
                    <p>Nom du produittttttttttttttttttttttttttttttt </p>

                  </td>
                </tr> <tr>
                  <td class="imgcart">
                    <img src="assets/store/img/iphone12.png" style="width:150px;height:120px">
                  </td>

                  <td class="product-name">
                    <p>Nom du produit </p>
                    <p>En stock</p>
                    <div class="quantity buttons_added">
                      <input type="number" size="4" class="input-text qty text" title="Qty" value="1" min="0" step="1">
                    </div>
                    <p>Nom du produittttttttttttttttttttttttttttttt </p>

                  </td>
                </tr> <tr>
                  <td class="imgcart">
                    <img src="assets/store/img/iphone12.png" style="width:150px;height:120px">
                  </td>

                  <td class="product-name">
                    <p>Nom du produit </p>
                    <p>En stock</p>
                    <div class="quantity buttons_added">
                      <input type="number" size="4" class="input-text qty text" title="Qty" value="1" min="0" step="1">
                    </div>
                    <p>Nom du produittttttttttttttttttttttttttttttt </p>

                  </td>
                </tr>
                </tbody>
              </table>

            </form>
        </div>
      </div>
    </div>

      <div class="col-md-4" >
        <div class="itemtolatl">
          <div>
        Sous-total (9 articles): 148,14 €
          </div>
          <br>
        <div>
          <button class="btn btn-primary" style="background-color:#172b4d;color: white " type="button"
                  routerLink="/storeback/strback/cat/accueil">
            <span class="btn-inner&#45;&#45;text">Passer la commande</span>
          </button>
        </div>
        </div>
      </div>

  </div>
</div>
</div>
