.vp{
  margin-left: 25px;
  color: black;
  font-weight: 900;
}
.itemtolatl{
  color: black;
  padding-left: 140px;
  font-weight: 800;
  padding-top: 0px;
  padding-bottom: 50px;
}
.titlee{
  color: black;
  font-weight: 900;
  cursor: pointer;
  text-decoration: underline;

}
.clicc{
cursor: pointer;
}

.prrr{
  color: black;
}
p.dispo{
  color: #058552!important;
  font-weight: 900;}
p.nondispo{
  color: red;
  font-weight: 900;}
.vl{
  border-left: 1px solid black;
  margin: 0 -1px;
height: 75px;
}
.bc{
  color: #f45b39;
}
.imgprd{
  cursor: pointer;
}
.pricce{
  font-weight: 900;
}
