<br>
<div>
  <div *ngIf="orderitems.length>0; then thenBlock else elseBlock"></div>
  <ng-template #thenBlock><h3 class='vp'>Mon panier</h3></ng-template>
  <ng-template #elseBlock><p class='vp'>Votre panier est vide.</p></ng-template>
</div>
    <div class="row">
      <div class="col-md-8">
        <div class="product-content-right">
          <div class="woocommerce">
            <form [formGroup]="qteForm">
              <hr>
              <table cellspacing="0" class="shop_table cart" >
                <tbody *ngFor="let x of orderitems">
                <tr>
                  <td class="imgcart">
                    <img src="{{x.product.imgpr}}" style="width:150px;height:120px">
                  </td>

                  <td class="product-name" colspan="3">
                    <p class="titlee">{{x.product.title}} </p>
                    <div *ngIf="x.product.quantity>0; then thenBlock else elseBlock"></div>
                    <ng-template #thenBlock><p class='dispo'>Disponible</p></ng-template>
                    <ng-template #elseBlock ><p class='nondispo'>Actuellement indisponible.</p></ng-template><p>{{x.product.price}}</p>
                    <div class="quantity buttons_added">
                      <input type="number" size="4" class="input-text qty text" title="Qty" placeholder="{{x.quantity}}"
                              min="1"  max="{{x.product.quantity}}" onkeyup="if(this.value<0){this.value= this.value * -1}" onkeypress='
                             return event.charCode > 48 && event.charCode <= 57 ' formControlName="qte"  >
                    </div>
                      <a class="clicc" (click)="deleteprdd(x.id)">|Supprimer|</a>
                      <a class="clicc" (click)="updateorderitem(x.id)">Modifier(qté)</a>
                  </td>
                </tr>
                </tbody>
              </table>
            </form>
        </div>
      </div>
    </div>
      <div class="vl" ></div>
      <div class="col-md-4" >
        <div class="itemtolatl" *ngIf="order.totalPrice!=0">
          <div>
        Sous-total ({{order.totalarticles}} articles): {{order.totalPrice}} €
            <h5 class="bc"> ({{order.totalbubblecoin}} B-coin)</h5>
          </div>
          <br>
        <div *ngIf="orderitemss==false">
          <button class="btn btn-primary" style="background-color:#172b4d;color: white " type="button"
                  routerLink="/store/modepayement">
            <span>Passer la commande</span>
          </button>
        </div>
        </div>
      </div>

  </div>
