<h3 class="prd">Liste des produits </h3>
<table class="table table-striped">
  <thead>
  <tr>
    <th scope="col">Titre</th>
    <th scope="col">Description</th>
    <th scope="col">Catégorie</th>
    <th scope="col">Prix</th>
    <th scope="col">Quantité </th>
    <th scope="col">Image </th>
    <th scope="col">Modifier</th>
    <th scope="col">Supprimer</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let x of prod">
    <td>{{x.title}}</td>
    <td >{{x.description.substr(0,15)}}... </td>
    <td>{{x.category.name}}</td>
    <td style="width:120px;height:200px">{{x.price}}</td>
    <td style="width:120px;height:200px">{{x.quantity}}</td>
    <td><img src="{{x.imgpr}}" style="width:120px;height:200px"></td>

    <td style="width:120px;height:200px"> <button class="btn btn-primary" (click)="open(x.id)" ><i class="far fa-edit"></i></button></td>
    <td style="width:120px;height:200px"> <button class="btn btn-danger"   (click)="deleteprdd(x.id)"><i class="far fa-trash-alt"></i></button></td>

  </tr>
  </tbody>
</table>
<h4 *ngIf="prod.length==0" class="hhh">LA LISTE DU PRODUIT EST VIDE .</h4>
