
<div class="single-product-area">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="product-content-right">
          <div class="row">
            <div class="col-sm-8">
              <ul style="float: left" >
                <li style="list-style-type: none;  margin-bottom: 10px;"> <img src="{{prod.imgpr}}" class="small_img" style="width: 70px;height:70px;border: 1px solid black;border-radius: 4px; padding: 5px;" ></li>
                <li style="list-style-type: none;  margin-bottom: 10px;"> <img src="{{prod.images1}}" class="small_img" style="width: 70px;height:70px;border: 1px solid black;border-radius: 4px; padding: 5px;" ></li>
                <li style="list-style-type: none;  margin-bottom: 10px;"> <img src="{{prod.images2}}" class="small_img" style="width: 70px;height:70px;border: 1px solid black;border-radius: 4px; padding: 5px;"></li>
                <li style="list-style-type: none;  margin-bottom: 10px;"> <img src="{{prod.images3}}" class="small_img" style="width: 70px;height:70px;border: 1px solid black;border-radius: 4px; padding: 5px;"></li>
                <p class="textzoom">Passez la souris sur l'image pour zoomer</p>
              </ul>
              <img src="{{prod.imgpr}}" class="big_img" style="  width: 300px;  height: 400px;  float: left;  margin-top: -30px;  margin-left: 5px;">
            </div>
            <div class="col-sm-4">
              <div class="product-inner">
                <h5 class="product-name">{{prod.title}}</h5>
                <div class="product-inner-price">
                  Prix :<h3 class="prixx">{{prod.price}} €</h3>
                  <h3 class="prixx">{{prod.bubblecoin}} B-Coin</h3>
                </div>
                <div class="product-inner-price">
                <div *ngIf="prod.quantity>0; then thenBlock else elseBlock"></div>
                <ng-template #thenBlock><p class='dispo'>Disponible</p></ng-template>
                <ng-template #elseBlock><p class='nondispo'>Actuellement indisponible.</p></ng-template>
                </div>
                <form  class="cart" [formGroup]="qteForm">
               <h6>Quantité:</h6>
                  <div class="quantity">
                    <input type="number" size="12" class="input-text qty text" title="Qty"  name="quantity" min="1" max="{{prod.quantity}}" step="1" onkeyup="if(this.value<0){this.value= this.value * -1}" onkeypress='return event.charCode >= 48 && event.charCode <= 57 '  formControlName="quantity">
                  <hr>
                  </div>
                  <button (click)="addorderitems()"   class="add_to_cart_button" type="submit" [disabled]="disabled"> <i class="fa fa-shopping-cart"></i>   Ajouter au panier</button>
                </form>
                <div role="tabpanel">
                  <hr>
                  <ul class="product-tab" role="tablist">
                    <li role="presentation" class="active"><a href="#home" aria-controls="home" role="tab" data-toggle="tab">Description</a></li>
                    <li role="presentation"><a href="#profile" aria-controls="profile" role="tab" data-toggle="tab" >Reviews</a></li>
                  </ul>
                  <div class="tab-content">
                    <div role="tabpanel" class="tab-pane fade in active" id="home">
                      <h2>À propos de cet article</h2>
                      <p>{{prod.description}}</p>
                    </div>
                    <div role="tabpanel" class="tab-pane fade" id="profile">
                      <h2>Reviews</h2>
                      <div class="submit-review">
                        <p><label for="name">Name</label> <input name="name" type="text"></p>
                        <p><label for="email">Email</label> <input name="email" type="email"></p>
                        <div class="rating-chooser">
                          <p>Your rating</p>

                          <div class="rating-wrap-post">
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                          </div>
                        </div>
                        <p><label for="review">Your review</label> <textarea name="review" id="" cols="30" rows="10"></textarea></p>
                        <p><input type="submit" value="Submit"></p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
