
<div class="single-product-area">
  <div class="container">
    <div class="row">


      <div class="col-md-12">
        <div class="product-content-right">


          <div class="row">
            <div class="col-sm-8">
              <ul style="float: left" >
                <li style="list-style-type: none;  margin-bottom: 10px;"> <img src="{{prod.imgpr}}" class="small_img" style="width: 70px;height:70px;border: 1px solid black;border-radius: 4px; padding: 5px;" ></li>
                <li style="list-style-type: none;  margin-bottom: 10px;"> <img src="assets/store/img/product-1.jpg" class="small_img" style="width: 70px;height:70px;border: 1px solid black;border-radius: 4px; padding: 5px;" ></li>
                <li style="list-style-type: none;  margin-bottom: 10px;"> <img src="assets/store/img/PC_Gamer_No_l_2020_pas_cher_gaming.jpg" class="small_img" style="width: 70px;height:70px;border: 1px solid black;border-radius: 4px; padding: 5px;"></li>
                <li style="list-style-type: none;  margin-bottom: 10px;"> <img src="assets/store/img/product-3.jpg" class="small_img" style="width: 70px;height:70px;border: 1px solid black;border-radius: 4px; padding: 5px;"></li>
                <p class="textzoom">Passez la souris sur l'image pour zoomer</p>

              </ul>


              <img src="assets/store/img/edf2f6.png" class="big_img" style="  width: 300px;  height: 400px;  float: left;  margin-top: -30px;  margin-left: 5px;">
            </div>

            <div class="col-sm-4">
              <div class="product-inner">
                <h5 class="product-name">{{prod.title}}</h5>
                <div class="product-inner-price">
                  Prix :<h3 class="prixx">{{prod.price}} €</h3>
                </div>
                <div class="product-inner-price">
                <div *ngIf="prod.quantity>0; then thenBlock else elseBlock"></div>
                <ng-template #thenBlock><p class='dispo'>Disponible</p></ng-template>
                <ng-template #elseBlock><p class='nondispo'>Actuellement indisponible.</p></ng-template>
                </div>
                <form action="" class="cart">
               <h6>Quantité:</h6>
                  <div class="quantity">
                    <input type="number" size="12" class="input-text qty text" title="Qty" value="1" name="quantity" min="1" step="1">
                  <hr>
                  </div>
                  <button class="add_to_cart_button" type="submit"><i class="fa fa-shopping-cart"></i>   Ajouter au panier</button>
                </form>
                <div role="tabpanel">
                  <hr>
                  <ul class="product-tab" role="tablist">
                    <li role="presentation" class="active"><a href="#home" aria-controls="home" role="tab" data-toggle="tab">Description</a></li>
                    <li role="presentation"><a href="#profile" aria-controls="profile" role="tab" data-toggle="tab" >Reviews</a></li>
                  </ul>
                  <div class="tab-content">
                    <div role="tabpanel" class="tab-pane fade in active" id="home">
                      <h2>À propos de cet article</h2>
                      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam tristique, diam in consequat iaculis, est purus iaculis mauris, imperdiet facilisis ante ligula at nulla. Quisque volutpat nulla risus, id maximus ex aliquet ut. Suspendisse potenti. Nulla varius lectus id turpis dignissim porta. Quisque magna arcu, blandit quis felis vehicula, feugiat gravida diam. Nullam nec turpis ligula. Aliquam quis blandit elit, ac sodales nisl. Aliquam eget dolor eget elit malesuada aliquet. In varius lorem lorem, semper bibendum lectus lobortis ac.</p>

                      <p>Mauris placerat vitae lorem gravida viverra. Mauris in fringilla ex. Nulla facilisi. Etiam scelerisque tincidunt quam facilisis lobortis. In malesuada pulvinar neque a consectetur. Nunc aliquam gravida purus, non malesuada sem accumsan in. Morbi vel sodales libero.</p>
                    </div>
                    <div role="tabpanel" class="tab-pane fade" id="profile">
                      <h2>Reviews</h2>
                      <div class="submit-review">
                        <p><label for="name">Name</label> <input name="name" type="text"></p>
                        <p><label for="email">Email</label> <input name="email" type="email"></p>
                        <div class="rating-chooser">
                          <p>Your rating</p>

                          <div class="rating-wrap-post">
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                          </div>
                        </div>
                        <p><label for="review">Your review</label> <textarea name="review" id="" cols="30" rows="10"></textarea></p>
                        <p><input type="submit" value="Submit"></p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
