<div class="site-branding-area">
  <div class="container">
    <div class="row">
      <div class="col-md-11">
        <div class="shopping-item">
          <a routerLink="store/" (click)="open()"><i class="far fa-wallet" ></i></a>
        </div>
      </div>
        <div class="shopping-item">
          <a routerLink="/store/panier"><span class="cart-amunt" ></span> <i class="far fa-shopping-cart" ></i     > <span class="product-count" *ngIf="orderservice.ord!=null">{{orderservice.ord.totalarticles}}</span></a>
        </div>
    </div>
  </div>
</div>
<hr class="hrr">
<router-outlet></router-outlet>


