<div>
  <div  *ngIf="orders.length>0; then thenBlock else elseBlock"></div>
  <ng-template #thenBlock><h4 class='vp'>Vos Commandes </h4></ng-template>
  <ng-template #elseBlock><p class='vp'>Vous n'avez passé aucune commande .</p></ng-template>
</div>
<br>
<div class="row">
  <div class="col-md-3" >
    <div class="itemtolatl" >
      <div class="single-sidebar" >
        <h6 style="color: #0b0b0b">Vous avez passées {{orders.length}} commandes:</h6>
      </div>
      <div class="single-sidebar">
        <div class="form-check" *ngFor="let x of orders;let i = index;" >
          <a style="color: black;  font-weight: 900;margin-bottom: 25px;cursor: pointer"  (click)="openorder(x.id,x.totalPrice,x.totalbubblecoin)">.Commande({{i+1}})</a>
        </div>
      </div>
    </div>
  </div>
  <div class="vl" style="height:{{30+orders.length*46}}px;" ></div>
  <div class="col-md-9">
    <div class="product-content-right">
      <p *ngIf="orderitems.length!=0" class="prbc">Sous total de {{totalprice}} Euro et {{totalbcoin}} Bubble-Coin</p>
      <div class="woocommerce"*ngFor="let x of orderitems;let i = index;">
        <form >
          <table class="shop_table cart" >
            <tbody >
            <tr>
              <td class="imgcart">
                <img src="{{x.product.imgpr}}" [routerLink]="[ '/store/detail',x.product.id,carts[i].id]" style="width:150px;height:120px"  class="imgprd" >
              </td>

              <td class="product-name" colspan="3">
                <p class="titlee" [routerLink]="[ '/store/detail',x.product.id,carts[i].id]" >{{x.product.title}} </p>
                <p class="pricee">{{x.product.price}} €</p><p class="pricee">{{x.product.bubblecoin}} Bubble-Coin

               <p class="pricee">Quantité :{{orderitems[i].quantity}}</p>
              </td>
            </tr>
            </tbody>
          </table>
        </form>
      </div>
    </div>
  </div>
</div>
