<div class="single-product-area">
  <div class="container">
    <div class="row">
      <div class="col-md-3">
          <div class="single-sidebar" >
            <h4 class="mp">Mode de payement:</h4>
          </div>
      </div>

      <div class="col-md-9">
        <div class="container">
          <div class="row">
                <table>
                  <tbody >
                  <tr>
                    <td><img src="assets/store/img/stripe.png" style="width:60%;height:100px"> </td>
                    <td>
                      <p class="tdd">.Stripe</p>
                    </td>
                  </tr>
                  <br>
                  <tr>
                    <td><img src="assets/store/img/logonotfixed.jpg" style="width:60%;height:100px"> </td>
                    <td>
                      <p class="tdd" (click)="paymentbubblecoin()">.Bubble-Coin</p>
                    </td>
                  </tr>
                  </tbody>
                </table>

          </div>


        </div>


      </div>
    </div>
  </div>
</div>
