
<div class="main-header">
  <div class="content-bg-wrap bg-group"></div>
  <div class="container">
    <div class="row">
      <div class="col col-lg-8 m-auto col-md-8 col-sm-12 col-12">
        <div class="main-header-content">
          <h4 class="tt" >ESPACE D'ADMINISTRATION</h4>
        </div>
      </div>
    </div>
  </div>

  <img class="img-bottom" src="../../../assets/img/group-bottom.png" alt="friends">
</div>

<div  style="margin-left: 250px;">


<button class="btn btn-primary" style="background-color:#172b4d;color: white " routerLink="/storeback/strbackkk/product/accueil">
  <span class="btn-inner&#45;&#45;text">Gestion Produit</span>
</button>

<button class="btn btn-primary" style="background-color:#172b4d;color: white " type="button"
        routerLink="/storeback/strbackkk/cat/accueil">
  <span >Gestion Catégories</span>
</button>

<button class="btn btn-primary" style="background-color:#172b4d;color: white " type="button"
        routerLink="/storeback/strbackkk/coin/accueil">
  <span>Gestion Bubble-coin</span>
</button>

<button class="btn btn-primary" style="background-color:#172b4d;color: white " type="button"
        routerLink="/storeback/strbackkk">
  <span >Statistiques</span>
</button>

</div>



<router-outlet></router-outlet>



