.titre{
  margin-left: 400px;
  color: #0b0b0b;
}
.divv{
  margin-left: 450px
}
.cc{
  border-color: #0b0b0b;
}
.hr{
  border-color: #0b0b0b;
}
.butt{
  margin-left: 400px;

}
.cssdiv{
  margin-left: 50px;
  color: #0b0b0b
}
.bb{
  margin-left: 300px;
  border: 1px solid black;
}
