.titre{
  margin-left: 400px;
  color: #0b0b0b;
}
.divv{
  margin-left: 450px
}
.cc{
  border-color: #0b0b0b;
}
.hr{
  border-color: #0b0b0b;
}
.butt{
  margin-left: 500px;

}
.cssdiv{
  margin-left: 50px;
  color: #0b0b0b
}
.bb{
  margin-left: 350px;
  border: 1px solid black;
  padding: 15px 32px;

}
.bc{
  margin-left: 385px;
  border: 1px solid black;


}
.opt{
  text-decoration-color: #0b0b0b;
  color: #0b0b0b;
}
